.cust-nav{
	height:100px;
	background:#34495e;
	transition: background .4s;
	box-shadow:0px;
}

.cuts-nav-bg{
	top:-100px;
	height:100px;
	background:rgba(0,0,0,0.2);
	transition: top .7s;
}
.Icon{
	font-family:Masterblast;
	color:#2ecc9e;
	font-size:500%;
	margin-left:20px;
}

.b-navset{
	margin-top:25px;
}

.b-navset > a{
	font-family:Code-L;
	color:#2ecc9e;
	font-size:120%;
	margin:0px 3px 0px 3px;
	padding:15px 12px 14px 12px;
	letter-spacing:4px;
	transition:background 1s;
}
.b-navset > a:hover{
	background:rgba(255,255,255,0.1);
	transition:background .2s;
	color:#2ecc71;
}
.b-navset > .btn{
	border:solid 3px #2ecc9e;
	padding:10px 12px 8px 12px;
}
/*
 * HOME *
 */
 
.home-top{
	top:0px;
	min-height:700px;
	background:#34495e;
	
}

.h-t-content{
	display:block;
	width:100%;
	font-family:Code-L;
	letter-spacing:4px;
	color:#99c6ce;
	font-size:250%;
	text-align:center;
	padding-top:200px;
}
.home-top-fake{
	height:2000px;
}
	
/*/
 *
 * EXTRA GRAPHICS
 *
/*/
 .slide-1 > .title > span{
	opacity:0;
 }

 .slide-1 > .graphics{
	position:absolute;
	top:150px;
	left:40px;
 }
#pc{
	position:absolute;
	left:250px;
	top:0px;
	display:block;
	float:left;
	background:#000;
	width:250px;
	height:160px;
	border-radius:7px;
} 
	.pc-screen{
		background:#b4c0cc;
		width:230px;
		height:130px;
		margin:10px 5px 10px 10px;
	}
	
	/* Screen */
		
		.s1-pc-s1{
			width:100%;
			height:100%;
			
			overflow:hidden;
		}
		
		
		
		
	.pc-keyb{
		background:#909090;
		width:290px;
		height:15px;
		border-radius:2px 2px 8px 8px;
		position:absolute;
		top:150px;
		left:-20px;
	}
		.p-circle-1,
		.p-circle-2,
		.p-circle-3{
			position:absolute;
			background:rgba(0,0,0,0.3);
			width:5px;
			height:5px;
			border-radius:50%;
			bottom:5px;
			left:20px;
		}	
		.p-circle-2{ left: 30px;}
		.p-circle-3{ left: 40px;}
		
	.pc-shadow-set{
		position:absolute;
		left:260px;
		top:230px;
	}
	.pc-shadow{
		background:rgba(0,0,0,0.2);
		width:280px;
		margin-left:-30px;
		height:30px;
		border-radius:50%;
	}
	
	
#tab{
	position:absolute;
	left:100px;
	top:20px;
	display:block;
	float:left;
	background:#000;
	width:110px;
	height:140px;
	border-radius:7px;
	
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
} 	

	.tab-screen{
		background:#b4c0cc;
		width:90px;
		height:110px;
		margin:10px 5px 10px 10px;
	}
	
	/* Screen */
		
		.s1-tab-s1{
			width:100%;
			height:100%;
			
			overflow:hidden;
		}
		
		
		
		
		.t-circle{
			position:absolute;
			background:rgba(255,255,255,0.3);
			width:10px;
			height:10px;
			border-radius:50%;
			left:50px;
			bottom:5px;
		}
	.tab-shadow{
		background:rgba(0,0,0,0.2);
		width:100px;
		margin-left:-25px;
		height:16px;
		border-radius:50%;
	}
	
	.tab-shadow-set{
		position:absolute;
		left:140px;
		top:230px;
	}
	
#phone{
	position:absolute;
	left:530px;
	top:40px;
	display:block;
	float:left;
	background:#000;
	width:60px;
	height:100px;
	border-radius:7px;
	
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
} 	

	.phone-screen{
		background:#b4c0cc;
		width:50px;
		height:85px;
		margin:5px 5px 10px 5px;
	}
		/* Screen */
		
		.s1-phone-s1{
			width:100%;
			height:100%;
			
			overflow:hidden;
		}
		
		
		
	.ph-circle{
			position:absolute;
			background:rgba(255,255,255,0.3);
			width:7px;
			height:7px;
			border-radius:50%;
			bottom:1px;
			left:25px;
		}		
	.phone-shadow{
		background:rgba(0,0,0,0.2);
		width:60px;
		margin-left:-20px;
		height:12px;
		border-radius:50%;
	}
	
		
	
	.phone-shadow-set{
		position:absolute;
		left:540px;
		top:230px;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
.home-mid{
	
	min-height:1000px;
	z-index:10;
	position:relative;
	background:#fff;
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	
}
.home-bottom{
	min-height:800px;
	background:#34495e;

}
