/*/
 *
 * EXTRA GRAPHICS
 *
/*/


/*
 *
 * PAGE 1
 *
 */	
 
	.page-1{
		margin-top:-50px;
		width:100%;
		height:100%;
		transition:transform 1s, opacity 1s;
		
		font-size:250%;
	}

/* Slide 1*/
	
	.slide-1{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
	}

.slide-1 > .title {
	position:absolute;
	text-align:center;
}	
	
.slide-1 > .title > span{
	position:relative;
	opacity:0;
}
	.t-1{ margin-left:170px; }

.slide-1 >  .graphics{
	position:absolute;
	top:150px;
	left:50px;
}

#laptop-set{
	position:absolute;
	left:0px;
	top:0px;
}
#pc{
	position:absolute;
	left:250px;
	top:0px;
	display:block;
	float:left;
	background:#000;
	width:250px;
	height:160px;
	border-radius:7px;
} 
	.pc-screen{
		background:#fff;
		width:230px;
		height:130px;
		margin:10px 5px 10px 10px;
	}
	
	/* Screen */
		
		.s1-pc-s1{
			width:100%;
			height:100%;
			
			overflow:hidden;
		}
		
		
		
		
	.pc-keyb{
		background:#909090;
		width:290px;
		height:15px;
		border-radius:2px 2px 8px 8px;
		position:absolute;
		top:150px;
		left:-20px;
	}
		.p-circle-1,
		.p-circle-2,
		.p-circle-3{
			position:absolute;
			background:rgba(0,0,0,0.3);
			width:5px;
			height:5px;
			border-radius:50%;
			bottom:5px;
			left:20px;
		}	
		.p-circle-2{ left: 30px;}
		.p-circle-3{ left: 40px;}
		
	.pc-shadow-set{
		position:absolute;
		left:260px;
		top:230px;
	}
	.pc-shadow{
		background:rgba(0,0,0,0.2);
		width:280px;
		margin-left:-30px;
		height:30px;
		border-radius:50%;
	}
	
	
	
	
	
#tab-set{
	position:absolute;
	left:0px;
	top:0px;
}	
#tab{
	position:absolute;
	left:100px;
	top:20px;
	display:block;
	float:left;
	background:#000;
	width:110px;
	height:140px;
	border-radius:7px;
	
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
	
	transition: -ms-transform 0.5s , -webkit-transform 0.5s ,transform 0.5s;
} 	

	.tab-screen{
		background:#b4c0cc;
		width:90px;
		height:110px;
		margin:10px 5px 10px 10px;
		overflow:hidden;
	}
	
	/* Screen */
		
		.s1-tab-s1{
			width:100%;
			height:100%;
			
			overflow:hidden;
		}
		
		
		
		
		.t-circle{
			position:absolute;
			background:rgba(255,255,255,0.3);
			width:10px;
			height:10px;
			border-radius:50%;
			left:50px;
			bottom:5px;
		}
	.tab-shadow{
		background:rgba(0,0,0,0.2);
		width:100px;
		margin-left:-25px;
		height:16px;
		border-radius:50%;
	}
	
	.tab-shadow-set{
		position:absolute;
		left:140px;
		top:230px;
	}
	
	
	
	
#phone-set{
	position:absolute;
	left:0px;
	top:0px;
}		
	
#phone{
	position:absolute;
	left:530px;
	top:40px;
	display:block;
	float:left;
	background:#000;
	width:60px;
	height:100px;
	border-radius:7px;
	
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
} 	

	.phone-screen{
		background:#b4c0cc;
		width:50px;
		height:85px;
		margin:5px 5px 10px 5px;
	}
		/* Screen */
		
		.s1-phone-s1{
			width:100%;
			height:100%;
			
			overflow:hidden;
		}
		
		
		
	.ph-circle{
			position:absolute;
			background:rgba(255,255,255,0.3);
			width:7px;
			height:7px;
			border-radius:50%;
			bottom:1px;
			left:25px;
		}		
	.phone-shadow{
		background:rgba(0,0,0,0.2);
		width:60px;
		margin-left:-20px;
		height:12px;
		border-radius:50%;
	}
	
		
	
	.phone-shadow-set{
		position:absolute;
		left:540px;
		top:230px;
	}	
	
	
	
	
	
	/* Slide 2*/
	
	.slide-2{
		position:absolute;
		background:rgba(0,0,0,0.2);
		top:0px;
		left:4000px;
		width:100%;
		height:100%;
	}
	
	
	/* Slide 3*/
	
	.slide-3{
		position:absolute;
		background:rgba(0,0,0,0.2);
		top:0px;
		left:4000px;
		width:100%;
		height:100%;
	}
	
	
/*
 *
 * PAGE 2
 *
 */	
 
	.page-2{
		width:100%;
		height:100%;
		top:100px;
		left:0px;
		position:absolute;
	}
		.linkSet{
			position:absolute;
			top:50px;
			left:-4000px;
		}
		.linkBox{
			display:inline_block;
			float:left;
			position:relative;
			height:220px;
			width:45%;
			margin: 2.5% 2.5% 2.5% 2.5%;
			background:rgba(255,255,255,0.5);
			opacity: 0;
			transition:opacity .5s;
		}
		
		